* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(103, 5, 194);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Header-logo {
  display: inline;
  height: 120px;
  padding-top: 20px;
}

.Header-logo:hover {
  transform: scale(1.1, 1.1);
}

.Header-link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
